@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --Principal:#fff;
  --Segundo: #fff;
  --tercer:#fff ;
  --Background:#E6E9F3;
  --colorHeader: linear-gradient(90deg, rgba(255,255,255,0.75) 0%, rgba(255,255,255,0.35) 100%)
}
@font-face {
  font-family: 'Aeonik';
  src: url('/assets/fonts/Aeonik-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik';
  src: url('/assets/fonts/Aeonik-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik';
  src: url('./assets/fonts/Aeonik-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik';
  src: url('/assets/fonts/Aeonik-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik';
  src: url('/assets/fonts/Aeonik-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik';
  src: url('/assets/fonts/Aeonik-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body{
  background: var(--Background) !important;
  font-family: 'Aeonik' !important;
  color: #232121;
}

input[type="color"] {
  border: none; /* Opcional: elimina bordes externos */
  padding: 0;
  width: 100%;
  box-shadow: 0 0 2px #969696;
  height: 40px; /* Altura personalizada */
  background-color: transparent; /* Fondo transparente si no quieres estilos predeterminados */
}

input[type="color"]::-webkit-color-swatch {
  border: none; /* Línea interna personalizada */
  border-radius: 4px; /* Opcional: redondear esquinas */
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0; /* Ajustar padding interno */
}